.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.942871;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.960938;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.976107;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.963379;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.977091;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.051814px;}
._0{width:1.210810px;}
._2{width:4.305101px;}
._4{width:7.802995px;}
._3{width:9.931085px;}
._5{width:17.244864px;}
._7{width:18.743088px;}
._6{width:19.843824px;}
._10{width:73.455781px;}
._f{width:92.156062px;}
._13{width:266.011194px;}
._16{width:287.921955px;}
._12{width:308.120460px;}
._15{width:390.180327px;}
._11{width:493.900232px;}
._c{width:633.773198px;}
._9{width:673.418039px;}
._e{width:679.374243px;}
._d{width:688.920070px;}
._a{width:692.668688px;}
._b{width:712.176175px;}
._14{width:778.721780px;}
._8{width:790.909373px;}
._17{width:895.668862px;}
.fc3{color:rgb(46,47,53);}
.fc2{color:rgb(108,248,252);}
.fc1{color:rgb(9,96,200);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:42.806399px;}
.fs1{font-size:48.921599px;}
.fs2{font-size:91.727998px;}
.fs0{font-size:110.073597px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.081618px;}
.y50{bottom:9.172807px;}
.y4f{bottom:27.518407px;}
.y5{bottom:32.614817px;}
.y4e{bottom:64.209606px;}
.y4d{bottom:82.555205px;}
.y4c{bottom:100.900805px;}
.y27{bottom:130.712395px;}
.y46{bottom:136.063204px;}
.y26{bottom:149.057994px;}
.y45{bottom:162.052803px;}
.y25{bottom:167.403594px;}
.y24{bottom:185.749193px;}
.y4b{bottom:192.628803px;}
.y23{bottom:204.094793px;}
.y4a{bottom:206.388002px;}
.y49{bottom:233.142002px;}
.y22{bottom:246.901192px;}
.y38{bottom:259.131596px;}
.y48{bottom:259.896001px;}
.y37{bottom:277.477196px;}
.y47{bottom:286.650000px;}
.y21{bottom:295.822791px;}
.y36{bottom:295.822795px;}
.y20{bottom:314.168390px;}
.y44{bottom:327.927599px;}
.y1f{bottom:332.513990px;}
.y35{bottom:338.629194px;}
.y1e{bottom:350.859589px;}
.y1d{bottom:369.205189px;}
.y43{bottom:369.205198px;}
.y34{bottom:387.550793px;}
.y33{bottom:405.896393px;}
.y1c{bottom:412.011588px;}
.y12{bottom:424.241989px;}
.y32{bottom:424.241992px;}
.y42{bottom:424.241997px;}
.y11{bottom:442.587588px;}
.y31{bottom:442.587592px;}
.y41{bottom:450.995997px;}
.y1b{bottom:460.933187px;}
.y10{bottom:460.933188px;}
.y30{bottom:460.933192px;}
.y4{bottom:470.870390px;}
.y40{bottom:477.749996px;}
.y1a{bottom:479.278786px;}
.yf{bottom:479.278788px;}
.y3{bottom:489.215989px;}
.y19{bottom:497.624386px;}
.ye{bottom:497.624387px;}
.y2f{bottom:503.739591px;}
.y3f{bottom:504.503995px;}
.y18{bottom:515.969985px;}
.y3e{bottom:531.257995px;}
.yd{bottom:538.901986px;}
.y2e{bottom:552.661189px;}
.y3d{bottom:558.011994px;}
.y17{bottom:558.776384px;}
.y2d{bottom:571.006789px;}
.y3c{bottom:584.765993px;}
.yc{bottom:589.352385px;}
.y2c{bottom:589.352389px;}
.y16{bottom:607.697983px;}
.yb{bottom:607.697984px;}
.y2b{bottom:607.697988px;}
.y2{bottom:620.692786px;}
.y15{bottom:626.043583px;}
.ya{bottom:626.043584px;}
.y2a{bottom:626.043588px;}
.y3b{bottom:626.043592px;}
.y55{bottom:626.043597px;}
.y14{bottom:644.389182px;}
.y9{bottom:644.389184px;}
.y29{bottom:644.389187px;}
.y3a{bottom:644.389192px;}
.y54{bottom:644.389197px;}
.y8{bottom:662.734783px;}
.y53{bottom:662.734796px;}
.y7{bottom:681.080383px;}
.y52{bottom:681.080396px;}
.y13{bottom:685.666781px;}
.y39{bottom:685.666791px;}
.y28{bottom:687.195586px;}
.y6{bottom:699.425982px;}
.y51{bottom:699.425996px;}
.h9{height:32.940862px;}
.h3{height:37.168949px;}
.h6{height:37.646699px;}
.h8{height:67.900217px;}
.h2{height:80.351576px;}
.h7{height:81.480261px;}
.h5{height:713.185182px;}
.h4{height:790.500000px;}
.h1{height:791.918382px;}
.h0{height:792.000000px;}
.w2{width:611.500000px;}
.w1{width:611.519988px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x1{left:45.863999px;}
.xc{left:52.743599px;}
.xb{left:133.005597px;}
.x6{left:198.361795px;}
.x4{left:207.916795px;}
.x8{left:209.445595px;}
.x7{left:211.738795px;}
.x3{left:212.885395px;}
.x5{left:217.471795px;}
.x2{left:313.403993px;}
.xd{left:320.283592px;}
.x9{left:457.111189px;}
.xa{left:467.812789px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.402419pt;}
._0{width:1.614413pt;}
._2{width:5.740134pt;}
._4{width:10.403993pt;}
._3{width:13.241446pt;}
._5{width:22.993151pt;}
._7{width:24.990783pt;}
._6{width:26.458431pt;}
._10{width:97.941041pt;}
._f{width:122.874749pt;}
._13{width:354.681592pt;}
._16{width:383.895940pt;}
._12{width:410.827280pt;}
._15{width:520.240436pt;}
._11{width:658.533642pt;}
._c{width:845.030931pt;}
._9{width:897.890718pt;}
._e{width:905.832324pt;}
._d{width:918.560094pt;}
._a{width:923.558250pt;}
._b{width:949.568234pt;}
._14{width:1038.295707pt;}
._8{width:1054.545831pt;}
._17{width:1194.225149pt;}
.fs3{font-size:57.075199pt;}
.fs1{font-size:65.228798pt;}
.fs2{font-size:122.303997pt;}
.fs0{font-size:146.764797pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.108824pt;}
.y50{bottom:12.230409pt;}
.y4f{bottom:36.691209pt;}
.y5{bottom:43.486423pt;}
.y4e{bottom:85.612808pt;}
.y4d{bottom:110.073607pt;}
.y4c{bottom:134.534406pt;}
.y27{bottom:174.283193pt;}
.y46{bottom:181.417605pt;}
.y26{bottom:198.743992pt;}
.y45{bottom:216.070404pt;}
.y25{bottom:223.204792pt;}
.y24{bottom:247.665591pt;}
.y4b{bottom:256.838404pt;}
.y23{bottom:272.126390pt;}
.y4a{bottom:275.184003pt;}
.y49{bottom:310.856002pt;}
.y22{bottom:329.201589pt;}
.y38{bottom:345.508795pt;}
.y48{bottom:346.528001pt;}
.y37{bottom:369.969594pt;}
.y47{bottom:382.200001pt;}
.y21{bottom:394.430387pt;}
.y36{bottom:394.430394pt;}
.y20{bottom:418.891187pt;}
.y44{bottom:437.236799pt;}
.y1f{bottom:443.351986pt;}
.y35{bottom:451.505593pt;}
.y1e{bottom:467.812786pt;}
.y1d{bottom:492.273585pt;}
.y43{bottom:492.273598pt;}
.y34{bottom:516.734391pt;}
.y33{bottom:541.195190pt;}
.y1c{bottom:549.348784pt;}
.y12{bottom:565.655985pt;}
.y32{bottom:565.655990pt;}
.y42{bottom:565.655996pt;}
.y11{bottom:590.116784pt;}
.y31{bottom:590.116789pt;}
.y41{bottom:601.327995pt;}
.y1b{bottom:614.577582pt;}
.y10{bottom:614.577584pt;}
.y30{bottom:614.577589pt;}
.y4{bottom:627.827186pt;}
.y40{bottom:636.999995pt;}
.y1a{bottom:639.038382pt;}
.yf{bottom:639.038383pt;}
.y3{bottom:652.287986pt;}
.y19{bottom:663.499181pt;}
.ye{bottom:663.499183pt;}
.y2f{bottom:671.652787pt;}
.y3f{bottom:672.671994pt;}
.y18{bottom:687.959981pt;}
.y3e{bottom:708.343993pt;}
.yd{bottom:718.535981pt;}
.y2e{bottom:736.881586pt;}
.y3d{bottom:744.015992pt;}
.y17{bottom:745.035179pt;}
.y2d{bottom:761.342385pt;}
.y3c{bottom:779.687991pt;}
.yc{bottom:785.803180pt;}
.y2c{bottom:785.803185pt;}
.y16{bottom:810.263978pt;}
.yb{bottom:810.263979pt;}
.y2b{bottom:810.263984pt;}
.y2{bottom:827.590381pt;}
.y15{bottom:834.724777pt;}
.ya{bottom:834.724779pt;}
.y2a{bottom:834.724784pt;}
.y3b{bottom:834.724790pt;}
.y55{bottom:834.724796pt;}
.y14{bottom:859.185577pt;}
.y9{bottom:859.185578pt;}
.y29{bottom:859.185583pt;}
.y3a{bottom:859.185589pt;}
.y54{bottom:859.185596pt;}
.y8{bottom:883.646378pt;}
.y53{bottom:883.646395pt;}
.y7{bottom:908.107177pt;}
.y52{bottom:908.107195pt;}
.y13{bottom:914.222375pt;}
.y39{bottom:914.222388pt;}
.y28{bottom:916.260782pt;}
.y6{bottom:932.567976pt;}
.y51{bottom:932.567994pt;}
.h9{height:43.921149pt;}
.h3{height:49.558599pt;}
.h6{height:50.195599pt;}
.h8{height:90.533623pt;}
.h2{height:107.135435pt;}
.h7{height:108.640347pt;}
.h5{height:950.913576pt;}
.h4{height:1054.000000pt;}
.h1{height:1055.891176pt;}
.h0{height:1056.000000pt;}
.w2{width:815.333333pt;}
.w1{width:815.359984pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x1{left:61.151999pt;}
.xc{left:70.324798pt;}
.xb{left:177.340796pt;}
.x6{left:264.482394pt;}
.x4{left:277.222393pt;}
.x8{left:279.260793pt;}
.x7{left:282.318393pt;}
.x3{left:283.847193pt;}
.x5{left:289.962393pt;}
.x2{left:417.871990pt;}
.xd{left:427.044790pt;}
.x9{left:609.481586pt;}
.xa{left:623.750385pt;}
}
